<h1>Show Topic</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @topic.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.topic_path(@conn, :edit, @topic) %></span>
<span><%= link "Back", to: Routes.topic_path(@conn, :index) %></span>
